/GamePsychics_EvanSchipellite/GamePsychics_EvanSchipellite.v12.suo
/GamePsychics_EvanSchipellite/Debug
/GamePhysics_EvanSchipellite/GamePhysics_EvanSchipellite.v12.suo
/GamePhysics_EvanSchipellite/Debug
